{% extends "base.html" %}

{% block title %}
Create Task
{% endblock title %}

{% block content %}
    <h1>{% if create %}Create{% else %}Update{% endif %} Task</h1>
    <main>
        <div id="create-task">
            <form method="POST">
                {% csrf_token %}
                
                    <div class="task-items">
                        {{ form }}
                    </div>
                <button type="submit">
                    {% if created %}Create{% else %}Update{% endif %}
                </button>
            </form>
        </div>
    </main>
{% endblock content %}