{% extends "base.html" %}
{% load static %}

{% block title %}
Create Category
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'todo_app/create_category.css' %}">
{% endblock css_files %}

{% block content %}
    {% include "todo_app/home.html" %}
    <section id="overlay">
        <div id="create-category" class="card">
            <h1>Create Category</h1>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                <span {% if field.errors %}class="error"{% endif %}>{{ field.label }}</span>
                {{ field }}
                {{ field.errors }}
                {% endfor %}
                <button type="submit">Create</button>
                <div id="cancel-btn"><a href="{% url 'home' %}">Cancel</a></div>
            </form>
        </div>
    </section>
{% endblock content %}