{% extends "base.html" %}
{% load static %}

{% block title %}
Create Task
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'todo_app/edit_task.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock css_files %}


{% block content %}
    {% include "todo_app/home.html" %}
    <div id="overlay">
        <div id="create-task" class="card">
            <h1>Update Task</h1>
            <form action="{{ request.path.url }}" method="POST">
                {% csrf_token %}
                    {% for field in form %}
                        <div class="create-task-items">
                            <span>{{ field.label }}</span>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                
                    <div id="form-buttons">
                    <button type="submit">Update</button>
                    <div id="cancel-btn"><a href="{% url 'home' %}">Cancel</a></div>
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}