{% extends "base.html" %}

{% block title %}
Todo App
{% endblock title %}

{% block content %}
    <header>
        <h1>Your Tasks
        </h1>
        <nav>
            <a href="{% url 'home' %}">All</a>
            {% for cat in categories %}
            <div class="scrollmenu">
                <a href="{% url "home"  cat.cat_name %}">{{ cat.cat_name }}</a>
            </div>
            {% endfor %}
        </nav>
        <button id="add-category" class="category-btn"><a href="{% url "create-category" %}">New Category</a></button>
    </header>

    <main>
        <button id="rounded-add-btn"><a href="{% url "create-task" %}">+</a></button>

        <div id="task-list">
        {% for task in tasks %}
            <div class="task-items">
                {{ task.title }}
            </div>
        {% endfor %}
        </div>

    </main>

{% endblock content %}