<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>All your files</h1>
    <main>
        <section>
            <div id="my-files">
                {% for f in files %}
                <div class="file-box">
                    <a href="{% url "file-view" f.file_id %}" target="_blank">{{ f.get_file_name }}</a>
                    <p>{{ f.created_at }}</p>
                </div>
                {% endfor %}
                {% for fo in folders %}
                <div class="folder-box">
                    <a href="{% url "folder-view" fo.folder_id %}">{{ fo.name }}</a>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>

</html>