{% extends "base.html" %}
{% load static %}

{% block page_title %}
Reset Password | The Blog Company
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "auth_app/reset_password.css" %}">
{% endblock css_files %}

{% block page_content %}
<main id="display-area">
    <div class="container">
        <div class="form-wrap">
            <h2>Please Set your Password</h2>
            <form action="{{request.get_full_path}}" method="post">
                {% csrf_token %}
                {% for items in form %}
                <div class="form-controls">
                    <label for="{{items.label}}">{{items.label}}</label>
                    {{items}}
                    <div class="helptext">
                        {{items.help_text}}
                    </div>
                    {{items.errors}}
                </div>
                {% endfor %}
                <div class="form-controls">
                    <button type="submit">Set</button>
                </div>
            </form>
            <div class="messages">
                {% if message %}
                <p id="error-message">{{message}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock page_content %}