{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Update Password
{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "auth_app/update_password.css" %}">
{% endblock css_files %}

{% block page_content %}
<main>
    <section>
        <div class="form-wrap">
            <h2>Change Password</h2>
            <form action="{% url "update-password" %}" method="post">
                {% csrf_token %}
                {{form}}
                <div class="btn-grp">
                    <button type="submit" id='confirm'>Confirm</button>
                    <button id='close' onclick='btnFunction()'>Cancel</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script>
    function btnFunction() {
        window.close('', '_parent', '');
    }
</script>
{% endblock page_content %}