
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: url("../../../static/images/password-kbd-alphabets.jpg") no-repeat center center/cover;
    backdrop-filter: brightness(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Form Part */
.form-wrap{
    background: #ffffff71;
    backdrop-filter: blur(2px);
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

.form-wrap h2{
    text-align: center;
    padding: 5px 5px 0 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: center;
    padding: 15px;
    margin: 5px;
    border-left: 2px solid;
    gap: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

form div .errorlist{
    order: 1;
    width: 100%;
    font-size: 14px;
    margin: 5px;
    padding: 0;
}

form div .errorlist  li{
    list-style: inside;
    color: #ff0000;
}

form div input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
    margin: 3px;
}

form div input:focus{
    border-bottom: 1px solid #000;
}


form div input[aria-invalid="true"]
{
    border-bottom: 1px solid #ff0000;
}

.helptext{
    order: 1;
    margin: 0;
    padding: 0;
}

.helptext ul{
    padding-left: 10px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    list-style-type: square;
    margin-left: 10px;
}

.btn-grp{
    flex-direction: row !important;
    justify-content: center;
    gap: 40px !important;
}

.btn-grp button[id='confirm']{
    flex-basis: 50%;
    margin-top: 10px;
    padding: 5px;
    font-family: inherit;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}

.btn-grp button[id='confirm']:hover{
    background-color: #000;
    color: white;
    font-weight: bold;
    border-color: #000;
}

.btn-grp button[id='close']{
    flex-basis: 50%;
    margin-top: 10px;
    padding: 5px;
    font-family: inherit;
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;   
}

.btn-grp button[id='close']:hover{
    background-color: #000;
    color: white;
    font-weight: bold;
    border-color: #000;
}
