{% extends "base.html" %}
{% load static %}
{% block page_title %} The Blog Company {% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog_app/all_blogs.css" %}">
<link rel="stylesheet" href="{% static "blog_app/includes/header.css" %}">
<link rel="stylesheet" href="{% static "blog_app/includes/post.css" %}">
{% endblock css_files %}

{% block page_content %}
    {% include "blog_app/includes/header.html" with header_title="The <span class='bg-black'>Blog</span> Company" %}
    <div class="m-top-95"></div>
    <main>
            {% if all_posts|length != 0%}
            <div class="post">
                {% for items in all_posts %}
                    {% include "blog_app/includes/post.html" with item=items %}
                {% endfor %}
                {% if request.user.is_authenticated != True %}
                <div id="sign-in-message">
                    <p>Please <a href="{% url 'login' %}" class='bg-black'>Login</a> to see more!</p>
                </div>
                {% endif %}
            </div>
            
            {% else %}
                {% if request.user.is_authenticated %}
                <div id="sign-in-message">
                    <h1>No Posts</h1>
                    <p>Please <a href="{% url 'add-blog' %}" target='_blank' class='bg-black'>Add</a> a post and contribute your thoughts!</p>
                </div>
                {% else %}
                
                {% endif %}
            {% endif %}
    </main>
    

{% endblock page_content %}
